* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial;
    background-color: white;
    color: black;
    font-size: 15px;
}
.connection {
    float: left;
    height: 250px;
    width: 200px;
    overflow: scroll;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid darkgrey;
}
.connection div {
    margin: 5px 0;
}
.connection div a {
    font-weight: bold;
    color: forestgreen;
}
.connection.active {
    border-color: darkorange;
}
h1 {
    font-size: 15px;
    padding: 5px 5px;
    margin: -10px -10px 0 -10px;
    border-bottom: 1px solid lightgrey;
    font-weight: 300;
}
.active h1 strong {
    color: darkorange;
}
.file,
em {
    color: lightslategrey;
    font-style: italic;
}
#wrap {
    background-color: lightgray;
    border-width: 1px 0;
    border-color: darkgray;
    border-style: solid;
}
#box {
    background: #fff;
    font-size: 18px;
    padding: 25px 30px;
    text-align: center;
}
.clear {
    clear: both;
}
.peer {
    color: darkorange;
    font-weight: 600;
}
.you {
    color: blue;
    font-weight: 600;
}
#pid {
    display: inline-block;
    padding: 3px 8px;
    margin: 5px;
    border: 1px dashed black;
    border-radius: 10px;
    color: dodgerblue;
    font-weight: 600;
}
.warning {
    font-size: 12px;
    padding: 10px;
    background-color: darkslategray;
    color: white;
}
a {
    color: #F2C777;
}
.filler {
    display: block;
    padding: 10px;
    text-align: center;
}
#actions {
    padding: 10px;
}
input {
    font-size: 15px;
    font-family: Arial;
    border: 1px solid lightgray;
    padding: 5px;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
input[type=text] {
    border-right: 0;
    border-radius: 10px 0px 0px 10px;
}
input:focus {
    outline: none;
}
.button {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 0px 10px 10px 0px;
    border-left: 0;
}
form {
    display: inline-block;
}
#close {
    background-color: darkorange;
    border-radius: 0px;
}
